<template>

  <div class="text-center">
    <img id="logoHome" class="mx-auto" src="@/assets/illustrations/homePic.svg" alt="homePic">
    <p id="homeTitle" class="mt-3 text-2xl text-white">Aujourd'hui</p>
    <div v-for="dailyUserHabit of dailyUserHabits">
      <DailyStatus :dailyHabit="dailyUserHabit" />
    </div>

  </div>
    
</template>

<script setup>

import DailyStatus  from '../components/daily-status.vue';
import { ref, onMounted } from "vue"
import UserHabitService from '../services/user-habits-service'
import { useUserAuth } from '../stores/user';
import { storeToRefs } from 'pinia';

const {user} = storeToRefs(useUserAuth());
const dailyUserHabits = ref()

onMounted(async () => {
  console.log(user.value);
  dailyUserHabits.value = await UserHabitService.fetchUserHabitByDay()
})

</script>



<style scope>

#homeTitle {
  animation: appearance 1.5s ease-in-out;
}

#logoHome {
  animation: comeFromLeft .5s ease-in-out;
}

@keyframes appearance {
  from { 
    opacity: 0;
  }
  to { 
    opacity: 1;
  }
}

@keyframes comeFromLeft {
  from { 
    transform: translateX(-60px);
    opacity: 0;
  }
  to { 
    transform: translateX(0px);
    opacity: 1;
  }
}

</style>
