<template>
  <div class="text-center">
    <img id="logoCalendars" class="mx-auto" src="@/assets/illustrations/calendarsPic.svg" alt="homePic">
    <p id="calendarsTitle" class="mt-3 text-2xl text-white">Calendrier de :</p>
  </div>

</template>

<script setup>

</script>

<style scope>

#calendarsTitle {
  animation: appearance 1.5s ease-in-out;
}

#logoCalendars {
  animation: comeFromLeft .5s ease-in-out;
}

@keyframes appearance {
  from { 
    opacity: 0;
  }
  to { 
    opacity: 1;
  }
}

@keyframes comeFromLeft {
  from { 
    transform: translateX(-60px);
    opacity: 0;
  }
  to { 
    transform: translateX(0px);
    opacity: 1;
  }
}

</style>