<template>
  <div class="text-center">
    <img id="logoLogin" class="mx-auto mt-10" src="@/assets/illustrations/login.svg" alt="homePic">
    <form class="mt-10" action="">
      <div class="mt-10">
        <label id="idLabel" class="mt-3 text-2xl text-white" for="identifiants">Identifiants :</label>
        <input v-model="userLogin.email" class="px-4 py-2 mt-2 text-center rounded-full drop-shadow-xl text-indigo focus:outline-none focus:ring focus:ring-indigo" type="text" id="identifiant" name="identifiant" placeholder="nicolas@gmail.com">
      </div>
      <div class="mt-5">
        <label id="mdpLabel" class="mt-8 text-2xl text-white" for="mdp">Mot de pass :</label>
        <input v-model="userLogin.password" class="px-4 py-2 mt-2 text-center border-none rounded-full drop-shadow-xl focus:outline-none text-indigo focus:ring focus:ring-indigo" type="password" id="mdp" name="mdp" placeholder="****************">
      </div>

      <input v-on:click="queryLogin" class="px-8 py-4 mt-10 text-lg text-white rounded-full drop-shadow-xl bg-indigo hover:scale-95" type="submit" value="Connexion">

      <p class="mt-6 text-white">Vous n'avez pas encore de compte ?</p>
      <RouterLink to="create-account">
        <span class="italic text-indigo hover:not-italic">Créez en un !</span>
      </RouterLink>
    </form>
  </div>

</template>

<script setup>
import AuthService from '../services/auth-service';
import { reactive } from 'vue';
import router from '../router';
import { useUserAuth } from '../stores/user';

const userLogin = reactive({
  email: '',
  password: ''
});

const queryLogin = () => {
  if(userLogin.email != "" && userLogin.password != '') {
      AuthService.login(userLogin);
      router.push('/think');
  }

}



</script>

<style scope>

#idLabel, #mdpLabel {
  animation: appearance 1.5s ease-in-out;
}

#logoLogin {
  animation: comeFromLeft .5s ease-in-out;
}

#identifiant {
  animation: comeFromRight .7s ease-in-out;
}

#mdp {
  animation: comeFromLeft .8s ease-in-out;
}

input:focus::placeholder {
  color: transparent;
}

@keyframes appearance {
  from { 
    opacity: 0;
  }
  to { 
    opacity: 1;
  }
}

@keyframes comeFromLeft {
    from { 
    transform: translateX(-60px);
    opacity: 0;
  }
  to { 
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes comeFromRight {
  from { 
    transform: translateX(60px);
    opacity: 0;
  }
  to { 
    transform: translateX(0px);
    opacity: 1;
  }
}


</style>