<template>
  <div class="text-center">
    <img id="SingleCalendarLogo" class="mx-auto" src="@/assets/illustrations/OneCalendarPic.svg" alt="homePic">
    <p id="SingleCalendarTitle" class="mt-3 text-2xl text-white">L'habitude avec l'id : {{ id }}</p>
  </div>

</template>

<script setup>

import { useRoute } from 'vue-router'

const route = useRoute()
const id = route.params.id

</script>

<style scope>

#SingleCalendarTitle {
  animation: appearance 1.5s ease-in-out;
}

#SingleCalendarLogo {
  animation: comeFromLeft .5s ease-in-out;
}

@keyframes appearance {
  from { 
    opacity: 0;
  }
  to { 
    opacity: 1;
  }
}

@keyframes comeFromLeft {
  from { 
    transform: translateX(-60px);
    opacity: 0;
  }
  to { 
    transform: translateX(0px);
    opacity: 1;
  }
}

</style>