<template>
  <div class="text-center">
    <img v-if="toggler" id="logoLogin" class="mx-auto" src="@/assets/illustrations/createacc1.svg" alt="homePic">
    <img v-if="!toggler" id="logoLogin" class="mx-auto" src="@/assets/illustrations/createacc2.svg" alt="homePic">
    <form class="mt-5" action="">
      
      <div v-if="toggler">
        <div class="mt-2">
          <label id="idLabel"  class="mt-3 text-2xl text-white" for="identifiants">Adresse E-mail :</label>
          <input v-model="newUser.email" placeholder="nicolas@gmail.com" class="px-4 py-2 mt-2 text-center rounded-full drop-shadow-xl text-indigo focus:outline-none focus:ring focus:ring-indigo" type="text" id="identifiant" name="identifiant">
        </div>
        <div class="mt-5">
          <label id="mdpLabel" class="mt-8 text-2xl text-white" for="mdp">Nom d'utilisateur :</label>
          <input v-model="newUser.username" placeholder="Pipou69" class="px-4 py-2 mt-2 text-center border-none rounded-full drop-shadow-xl focus:outline-none text-indigo focus:ring focus:ring-indigo" type="text" id="mdp" name="mdp">
        </div>
      </div>

      <div v-if="!toggler">
        <div class="mt-2">
          <label id="idLabel"  class="mt-3 text-2xl text-white " for="identifiants">Mot de passe :</label>
          <input v-model="newUser.password" placeholder="******" class="px-4 py-2 mt-2 text-center rounded-full drop-shadow-xl text-indigo focus:outline-none focus:ring focus:ring-indigo" type="password" id="identifiant" name="identifiant">
        </div>
        <div class="mt-5">
          <label id="mdpLabel" class="mt-8 text-2xl text-white" for="mdp">Verification du mot de passe :</label>
          <input v-model="verificationPassword" placeholder="******" class="px-4 py-2 mt-2 text-center border-none rounded-full drop-shadow-xl focus:outline-none text-indigo focus:ring focus:ring-indigo" type="password" id="mdp" name="mdp">
        </div>
      </div>
      
      <button id="nextBtn" v-if="toggler" v-on:click="toggle" class="px-8 py-4 mt-20 text-lg text-white rounded-full drop-shadow-xl bg-indigo hover:scale-95">Suivant</button>
      <input v-on:click="createUser" id="createBtn" v-if="!toggler" class="px-8 py-4 mt-20 text-lg text-white rounded-full drop-shadow-xl bg-indigo hover:scale-95" type="submit" value="Créer le compte">
      
      <div v-if="toggler">
        <p class="mt-6 text-white">Vous avez déjà un compte ?</p>
        <RouterLink to="login">
          <span class="italic text-indigo hover:not-italic">Connectez-vous !</span>
        </RouterLink>
      </div>

      <div v-if="!toggler">
        <p class="mt-6 text-white">Une erreur ?</p>
          <a v-on:click="toggle" class="italic text-indigo hover:not-italic">Revenez en arrière !</a>
      </div>

    </form>
  </div>

</template>

<script setup>
import { ref, reactive } from 'vue'
import AuthService from '../services/auth-service'
import route from '@/router'

const newUser = reactive({
  email: '',
  username: '',
  password: ''
});

const verificationPassword = ref('');

const toggler = ref(true);

const passwordAreNotTheSame = ref(false);
const fieldsAreNotNull = ref(false)


const toggle = (e) => {
  e.preventDefault();
  if (newUser.email == '' || newUser.username == '') {
    fieldsAreNotNull = true;
  } else {
      toggler.value = !toggler.value;
  }
}

const createUser = (e) => {
  e.preventDefault();
  console.log(newUser.password)
  console.log(verificationPassword.value);
  if(newUser.password == verificationPassword.value) {
    AuthService.register(newUser);
    route.push('/welcome')
  } else {
    passwordAreNotTheSame.value = true;
  }



}


</script>

<style scope>

#idLabel, #mdpLabel, #nextBtn, #createBtn {
  animation: appearance 1.0s ease-in-out;
}

#logoLogin {
  animation: comeFromLeft .5s ease-in-out;
}

#identifiant {
  animation: comeFromRight .7s ease-in-out;
}

#mdp {
  animation: comeFromLeft .8s ease-in-out;
}
@keyframes appearance {
  from { 
    opacity: 0;
  }
  to { 
    opacity: 1;
  }
}

@keyframes comeFromLeft {
    from { 
    transform: translateX(-60px);
    opacity: 0;
  }
  to { 
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes comeFromRight {
  from { 
    transform: translateX(60px);
    opacity: 0;
  }
  to { 
    transform: translateX(0px);
    opacity: 1;
  }
}


</style>