<template>
  <div class="mt-10 text-center">
    <h1 class="text-2xl text-center text-white">Citation du jour</h1>
    <img id="logoWelcome" class="mx-auto mt-12" src="@/assets/illustrations/thinker.svg" alt="homePic">
    <p class="mt-20 text-lg italic text-white">“Chacun vaut ce que valent les objectifs de son effort.”</p>
    <p class="mt-6 ml-40 text-lg text-white">Marc-Aurèle</p>
    <RouterLink to="/">
      <button class="px-8 py-4 mt-20 text-lg text-white rounded-full drop-shadow-xl bg-indigo hover:scale-95">Gérer mes habitudes</button>
    </RouterLink>
  </div>

</template>

<script setup>

</script>

<style scope>

#logoWelcome {
  animation: appearance 1.6s ease-in-out;
}

@keyframes appearance {
  from { 
    opacity: 0;
  }
  to { 
    opacity: 1;
  }
}

</style>