<template>
  <div class="text-center">
    <img id="logoTrophy" class="mx-auto" src="@/assets/illustrations/trophyPic.svg" alt="homePic">
    <p id="trophyTitle" class="mt-3 text-2xl text-white">Trophées : </p>
  </div>

</template>

<script setup>

</script>

<style scope>

#trophyTitle {
  animation: appearance 1.5s ease-in-out;
}

#logoTrophy {
  animation: comeFromRight .7s ease-in-out;
}

@keyframes appearance {
  from { 
    opacity: 0;
  }
  to { 
    opacity: 1;
  }
}

@keyframes comeFromRight {
  0% { 
    transform: translateX(70px);
    opacity: 0;
  }
  60% { 
    transform: translateX(-40px);
    opacity: 1;
  }
  80% { 
    transform: translateX(5px);
  }
  90% { 
    transform: translateX(-5px);
  }
  100% { 
    transform: translateX(0px);
  }

}

</style>
