<template>

  <div  class="mt-8 text-center">
    <div 
    id="createHabitBtn" 
    class="flex flex-row p-4 space-x-4 text-center align-middle transition duration-700 ease-in-out rounded-full w-4/6mx-auto drop-shadow-lg bg-indigo hover:scale-95">
      <img class="ml-8" src="@/assets/otherIcons/persHabit.svg" alt="logo">
      <p class="w-3/6 text-white">Créer une habitude
         personnalisée</p>
    </div>
    <button id="btnManage" class="p-3 mt-5 text-white duration-700 ease-in-out rounded-full hover:scale-95 bg-indigo" v-if="toggle" v-on:click="toggler">Gérer ses souscriptions</button>
    <button id="btnSubscribe" class="p-3 mt-5 text-white duration-700 ease-in-out rounded-full hover:scale-95 bg-indigo" v-if="!toggle" v-on:click="toggler">Trouver de nouvelles habitudes</button>
    <p v-if="toggle" id="choiceTitle1" class="mt-8 text-2xl text-white">Choisire une habitude :</p>
    <p v-if="!toggle" id="choiceTitle2" class="mt-8 text-2xl text-white">Supprimer une habitude:</p>
    <Selector v-if="toggle" />
    <Manager v-if="!toggle" />

  </div>

</template>

<script setup>

import { ref, onMounted } from 'vue'
import Manager from '../components/manager-com.vue'
import Selector  from '../components/selector-com.vue'
import HabitCom from '../components/habit-com.vue'

const toggle = ref(true);

const toggler = () => {
  toggle.value = !toggle.value;
}

</script>



<style scope>

#choiceTitle1, #choiceTitle2 {
  animation: appearance 1.1s ease-in-out;
}

#createHabitBtn {
  animation: comeFromTop .5s ease-in-out;
}

#btnManage {
  animation: comeFromLeft .8s ease-in-out;
}

#btnSubscribe {
    animation: comeFromRight .8s ease-in-out;
}

@keyframes appearance {
  from { 
    opacity: 0;
  }
  to { 
    opacity: 1;
  }
}


@keyframes comeFromTop {
  from { 
    transform: translateY(-60px);
    opacity: 0;
  }
  to { 
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes comeFromLeft {
  from { 
    transform: translateX(-60px);
    opacity: 0;
  }
  to { 
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes comeFromRight {
  from { 
    transform: translateX(60px);
    opacity: 0;
  }
  to { 
    transform: translateX(0px);
    opacity: 1;
  }
}

</style>