<template>
  <div class="text-center">
    <img id="logoWelcome" class="mx-auto" src="@/assets/illustrations/Welcome.svg" alt="homePic">
    <RouterLink to="/login">
      <button class="px-8 py-4 mt-10 text-lg text-white rounded-full drop-shadow-xl bg-indigo hover:scale-95">Commencer !</button>
    </RouterLink>
  </div>

</template>

<script setup>

</script>

<style scope>

#logoWelcome {
  animation: appearance 1.6s ease-in-out;
}

@keyframes appearance {
  from { 
    opacity: 0;
  }
  to { 
    opacity: 1;
  }
}

</style>