<template>

    <div 
    id="createHabitBtn" 
    class="flex flex-row p-4 mx-auto my-5 space-x-3 text-center align-middle transition duration-700 ease-in-out rounded-full w-6/6 drop-shadow-lg bg-indigo">
      <img v-if="habit.icon == 'user'" class="ml-4" src="@/assets/otherIcons/persHabit.svg" alt="logo">
      <img v-if="habit.icon == 'food'" class="ml-4 w-11" src="@/assets/habitsIcons/food.svg" alt="logo" >
      <img v-if="habit.icon == 'fiends'" class="ml-4 w-11" src="@/assets/habitsIcons/friends.svg" alt="logo">
      <img v-if="habit.icon == 'sport'" class="ml-4 w-11" src="@/assets/habitsIcons/sport.svg" alt="logo">
      <img v-if="habit.icon == 'study'" class="ml-4 w-11" src="@/assets/habitsIcons/study.svg" alt="logo">
      <p class="w-3/6 mt-3 text-white"> {{ habit.label }}</p>
      <div 
      id="statusChips" 
      class="w-12 h-12 ml-5 bg-white rounded-full hover:scale-105"
      :class="(subscribed) ? 'bg-green' : 'bg-white'"
      v-on:click="subscribe"
      >

      </div>
    </div>

</template>

<script setup>
import { onMounted, ref } from 'vue';
import  UserHabitService  from '../services/user-habits-service'

const props = defineProps({
  habit: {
    type: Object
  }
})

let subscribed = ref(false)

const subscribe = () => {
  subscribed.value = !subscribed.value
  UserHabitService.createUserHabit(props.habit)
}

onMounted(() => {
  console.log(props.habit);
})


</script>

<style scoped>

#done {
  animation: appearanceIcon .4s ease-in-out;
}

#undone {
  animation: appearanceIcon .4s ease-in-out;
}

@keyframes appearanceIcon {
  from {
    transform: scale(.5);
    opacity: 0;
  }
  to {
    transform: scale(1.5);
    opacity: 1;
  }
}

</style>