<template>

    <div 
    id="createHabitBtn" 
    class="flex flex-row p-4 mx-auto my-5 space-x-3 text-center align-middle transition duration-700 ease-in-out rounded-full w-6/6 drop-shadow-lg bg-indigo">
      <img v-if="dailyHabit.icon == 'user'" class="ml-4" src="@/assets/otherIcons/persHabit.svg" alt="logo">
      <img v-if="dailyHabit.icon == 'food'" class="ml-4 w-11" src="@/assets/habitsIcons/food.svg" alt="logo" >
      <img v-if="dailyHabit.icon == 'fiends'" class="ml-4 w-11" src="@/assets/habitsIcons/friends.svg" alt="logo">
      <img v-if="dailyHabit.icon == 'sport'" class="ml-4 w-11" src="@/assets/habitsIcons/sport.svg" alt="logo">
      <img v-if="dailyHabit.icon == 'study'" class="ml-4 w-11" src="@/assets/habitsIcons/study.svg" alt="logo">
      <p class="w-3/6 mt-3 text-white"> {{ props.dailyHabit.label }}</p>
      <div 
      id="statusChips" 
      class="w-12 h-12 ml-5 bg-white rounded-full hover:scale-105"
      v-on:click="changeStatus"
      :class="(dailyStatus.status == null) 
        ? 'bg-white' 
        : ( dailyStatus.status == 'done') 
          ? 'bg-green' 
          : 'bg-red'"
      >
      <div class="mt-2">
        <img id="done" class="scale-150" v-if="dailyStatus.status == 'done'" src="@/assets/statusImages/done.svg" alt="done">
        <img id="undone" class="scale-125" v-if="dailyStatus.status == 'undone'" src="@/assets/statusImages/undone.svg" alt="done">
      </div>
    
      </div>
    </div>

</template>

<script setup>
import {onBeforeUpdate} from 'vue';
import axios from 'axios'
import HabitStatusService from '../services/habit-status-service'


const props = defineProps({
  dailyHabit: {
    type: Object
  }
})



let dailyStatus = props.dailyHabit.dailyHabitStatus

const changeStatus = () => {
  if (dailyStatus.status == null) {
    dailyStatus.status = "done"
    HabitStatusService.createUserHabit(dailyStatus)
    
  } else if (dailyStatus.status == "done") {
    dailyStatus.status = "undone"
  } else if (dailyStatus.status == "undone") {
    dailyStatus.status = "done"
  }
}

onBeforeUpdate(() => {
  if(dailyStatus.id != null) {
    HabitStatusService.updateUserHabit(dailyStatus)
  }
})


</script>

<style scoped>

#done {
  animation: appearanceIcon .4s ease-in-out;
}

#undone {
  animation: appearanceIcon .4s ease-in-out;
}

@keyframes appearanceIcon {
  from {
    transform: scale(.5);
    opacity: 0;
  }
  to {
    transform: scale(1.5);
    opacity: 1;
  }
}


</style>