<template>
  <header class="top-0 flex flex-row w-full p-1 place-content-center drop-shadow-lg">
    <img id="logo" src="@/assets/illustrations/logoDiem.svg" alt="logo">
  </header>
  <button v-on:click="logout" class="p-2 bg-indigo">Out</button>
</template>

<script setup>
import AuthService from'../services/auth-service'
import route from '@/router'

const logout = () => {
  AuthService.logout();
  route.push('/login')
}

</script>

<style scoped>

#logo {
  animation: comeFromLeft .8s ease-in-out;
}

@keyframes comeFromTop {
  from { 
    transform: translateY(-80px);
    opacity: 0;
  }
  to { 
    transform: translateY(0px);
    opacity: 1;
  }
}
  
</style>