<template>
    <div v-for="habit of listHabit">
      <HabitCom :habit="habit" />
    </div>
</template>

<script setup>

import { ref, onMounted } from 'vue'
import HabitService from '../services/habits-service'
import HabitCom from './habit-com.vue'

const listHabit = ref();

onMounted(async () => {
  listHabit.value = await HabitService.fetchHabits();
})

</script>