<template>
  <nav class="fixed flex flex-row w-5/6 space-x-4 rounded-full bottom-5 bg-indigo place-content-center drop-shadow-lg">
    <RouterLink to="/" id="nav1" class="nav-icon">
        <img 
        class="text-white scale-50" 
        src="@/assets/icones/icons8-home-60.png" 
        alt="home">
    </RouterLink>
    <RouterLink to="/choice" id="nav2" class="nav-icon">
        <img 
        class="text-white scale-50" 
        src="@/assets/icones/icons8-single-choice-64.png" 
        alt="choices">
    </RouterLink>
    <RouterLink to="/calendars" id="nav3" class="nav-icon">
        <img 
        class="text-white scale-50" 
        src="@/assets/icones/icons8-google-calendar-60.png" 
        alt="choices">
    </RouterLink>
    <RouterLink to="/trophy" id="nav4" class="nav-icon" >
      <img 
      class="text-white scale-50" 
      src="@/assets/icones/icons8-trophy-60.png" 
      alt="choices">
    </RouterLink>

  </nav>
</template>

<script setup>


</script>

<style scope>

#nav1 {
  animation: comeFromLeft .4s ease-in-out;
}

#nav2 {
  animation: comeFromTop .5s ease-in-out;
}

#nav3 {
  animation: comeFromBottom .6s ease-in-out;
}

#nav4 {
  animation: comeFromRight .7s ease-in-out;
}

.nav-icon:hover {
  transform: scale(1.2)
}

@keyframes comeFromLeft {
  from { 
    transform: translateX(-60px);
    opacity: 0;
  }
  to { 
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes comeFromTop {
  from { 
    transform: translateY(-60px);
    opacity: 0;
  }
  to { 
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes comeFromBottom {
  from { 
    transform: translateY(60px);
    opacity: 0;
  }
  to { 
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes comeFromRight {
  from { 
    transform: translateX(60px);
    opacity: 0;
  }
  to { 
    transform: translateX(0px);
    opacity: 1;
  }
}




</style>