<template>

    <div v-for="habit of listHabit">
      <SelectorRibbon :habit="habit" />
    </div>

</template>

<script setup>

import { ref, onMounted } from 'vue'
import HabitService from '../services/habits-service'
import SelectorRibbon from './selector-ribbon-com.vue'

const listHabit = ref();

onMounted(async () => {
  listHabit.value = await HabitService.fetchHabits();
})

</script>

<style>

</style>
