<script setup>
import { RouterLink, RouterView } from 'vue-router'
import NavBar from './components/nav-bar.vue';
import HeaderCom from './components/header-com.vue';
import { useUserAuth } from './stores/user';
import { ref, onBeforeMount, onBeforeUpdate} from 'vue'
import { storeToRefs } from 'pinia';

const {user} = storeToRefs(useUserAuth());

console.log(user);

</script>

<template>

  <HeaderCom />
  
    <RouterView />
    
  <NavBar v-if="user" />

</template>






